@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ECE5D6;
    font-family: "Roboto Condensed", sans-serif;
    /* background-image: url(./bilder/bg1.png);
    background-size: cover;
    background-attachment: fixed; */
}

.kontainer {
    width: 320px;
    margin: auto;
    display: grid;
     grid-template-columns: 1fr;
        grid-template-areas:
            "huvud"
            "innehåll"
            "sida"
            "fot";
    gap: 20px;
    color: #000;
}

/* head */

Header {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
    grid-area: huvud;
}

Header h1 {
    font-size: 4em;
}

Header nav {
    background-color: #ffffff00;
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

Header nav a {
    background-color: #33333319;
    color: #000;
    padding: 0.5em 0em 0.5em 0em ;
    border-radius: 0.5em;
    width: 4.5em;
    font-size: 0.7em;
    text-decoration: none;

}
Header nav a.aktiv {
    background-color: #33333342;
}
Header nav a:hover {
    font-family: "Ms Madi", cursive;
}

/* main */

main {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
    display: flex;
    position: relative;

    /* grid-area: innehåll;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 5px; */
}
main .innehall {
    width: 50%;
    padding: 2px;
}
main .innehall .bild {
 position: relative;
}
main .innehall .bild img {
    background-color: #fff;
    margin-top: 2px;
    border-radius: 10px;
}

/* bilder js regler */

.undertext1 {
    display: none;
    background-color: #ffffffcb;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    width: 95%;
    right: -28.5em;
    top: 0px;
}
.undertext3 {
   display: none;
    background-color: #ffffffcb;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    width: 95%;
    right: -28.5em;
    top: 0px;
}
.undertext5 {
    display: none;
    background-color: #ffffffcb;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    width: 95%;
    right: -28.5em;
    top: 0px;
}
.undertext2 {
    display: none;
    background-color: #ffffffcb;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    width: 95%;
    left: -28.5em;
    top: 0px;
}
.undertext4 {
    display: none;
    background-color: #ffffffcb;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    width: 95%;
    left: -28.5em;
    top: 0px;
}
.undertext6 {
    display: none;
    background-color: #ffffffcb;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
    position: absolute;
    width: 95%;
    left: -28.5em;
    top: 0px;
}

/* side */

aside {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
    grid-area: sida;
}
aside h2 {
    font-size: 2em;
    
}
aside p {
    font-size: 1em;
}

/* foot */

footer {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.5em;
    grid-area: fot;
    display: flex;
}
footer p {
    font-size: 1em;
}
footer p a {
    color: #000000;
}


/* Platta: från 768px */
@media (min-width: 768px) {
    .kontainer {
        width: 600px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "huvud"
            "innehåll"
            "sida"
            "fot";
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    header nav {
        width: 100%;
    }
    Header nav a {
        font-size: 1.5em;
        width: 4.5em;
        
    }
}

/* Dator: från 1024px */
@media (min-width: 1024px) {
    .kontainer {
        width: 1300px;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "huvud huvud"
        "innehåll sida"
        "fot fot";
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    header nav {
        width: 73%;
    }
    Header nav a {
        font-size: 2em;
        width: 5.5em;
    }
     
}
